
  
  .layout__wrapper {
    /* background-image: linear-gradient(
      0deg,
      hsl(215, 14%, 16%) 0%,
      hsl(215, 19%, 29%) 100%
    );
    border-radius: 3px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
    margin: 3rem auto; */
    /* max-width: 370px; */

    border-radius: 4px;
  }
  :root {
    --c-white: #fff;
    --c-black: #000;
    --c-ash: #eaeef6;
    --c-charcoal: #a0a0a0;
    --c-void: #141b22;
    --c-fair-pink: #ffedec;
    --c-apricot: #fbc8be;
    --c-coffee: #754d42;
    --c-del-rio: #917072;
    --c-java: #1fcac5;
    --c-titan-white: #f1eeff;
    --c-cold-purple: #a69fd6;
    --c-indigo: #6558d3;
    --c-governor: #4133b7;
  }
  
  
  .app-bar {
    border-radius: 3px;
  }
  
  .app-bar__title {
    color: var(--color-on-background);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }
  
  .list {
    list-style: none;
    margin: 0;
    min-height: 1.5rem;
    padding: 0;
    position: relative;
  }
  
  .list__item {
  }
  
  .card-dnd {
    background-color: hsl(215deg 6.26% 95.39%);
    border-radius: var(--border-radius-500);
    cursor: pointer;
    /* color: black; */
    padding: 6px 10px;
    position: relative;
    border: 1px solid #dfdfdf;
  }
  
  .list__item + .list__item {
    margin-top: 2px;
  }
  
  .holder {
    padding: 2px 6px;
  }
  
  .holder__title {
    background-color: #1da5f9;
    background-image: linear-gradient(90deg, #028ce1 0%, #6acbe0 100%);
    border-radius: var(--border-radius-500);
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 0.75rem 1rem;
  }
  
  .holder--tint-2 .holder__title {
    background-image: linear-gradient(90deg, #2fd4bd 0%, #66e887 100%);
  }
  
  .holder--tint-3 .holder__title {
    background-image: linear-gradient(90deg, #fe8080 33%, #fea380 100%);
  }

  .holder--tint-4 .holder__title {
    background-image: linear-gradient(90deg, #fefc80 33%, #feef80 100%);
  }

  .root-dnd{
    display: flex;
    max-height: 800px;
    overflow: scroll;
  }

  button.accordion-button.collapsed {
    padding: 0 10px;
    background: #62dcbb;
    color: #3d3d3d;
}

button.accordion-button {
    padding: 0 10px;
    background: #62dcbb !important;
    color: #3d3d3d !important;
    border: none !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}



.cards {
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    width: 90%;
    max-width: 1000px;
    margin: 10vh auto; */
  }
  
  .card {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
    max-width: 300px;
  }
  
  .information {
    background-color: var(--c-white);
    padding: 1rem 1.5rem;
    border-radius: 14px;
    border: 1px solid #69e492;
  }
  .information .tag {
    display: inline-block;
    background-color: var(--c-titan-white);
    color: var(--c-indigo);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
  }
  .information .tag + * {
    margin-top: 1rem;
  }
  .information .title {
    font-size: 1rem;
    color: var(--c-void);
    line-height: 1.25;
  }
  /* .information .title + * {
    margin-top: 1rem;
  } */
  /* .information .info {
    color: var(--c-charcoal);
  } */
  /* .information .info + * {
    margin-top: 1.25rem;
  } */
  .information .button {
    font: inherit;
    line-height: 1;
    background-color: var(--c-white);
    border: 2px solid var(--c-indigo);
    color: var(--c-indigo);
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .information .button:hover, .information .button:focus {
    background-color: var(--c-indigo);
    color: var(--c-white);
  }
  .information .details {
    display: flex;
    gap: 1rem;
  }
  .information .details div {
    padding: 0.75em 1em;
    background-color: var(--c-titan-white);
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.125em;
    flex-basis: 50%;
  }
  .information .details dt {
    font-size: 0.875rem;
    color: var(--c-cold-purple);
  }
  .information .details dd {
    color: var(--c-indigo);
    font-weight: 600;
    font-size: 1.25rem;
  }

  .holder__content {
    width: 350px;
    /* min-width: 300px; */
}

h2.title.company_name  {
    color: #787eb5;
}

h2.title.ctc  {
    color: #787eb5;
}

h2.title.designation {
    font-weight: 600;
    color: #6558d3;
}
  
 
  